# --- App Config ---
LOGS=
ENABLE_STREAMLOG=
PORT=
MAX_SIZE=

# --- Auth Config ---
REGISTER_PWD_TOKEN=
REGISTER_EXPIRES_IN=

# --- Email (Hostinger SMTP) ---
EMAIL_PROVIDER_HOST=
EMAIL_PROVIDER_PORT=
EMAIL_ADDRESS=
EMAIL_PASS=
VERIFICATION_URL=
VERIFICATION_EXPIRITY=

# --- Redis Config ---
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=
REDIS_REGIS_EXPIRITY=

# --- PostgreSQL Config ---
DATABASE_URL=
DATABASE_URL_ACCOUNTS=

# --- URL Shortener (optional) ---
SHORTENER=
RESOLVER=
